<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Extensions" version="1.5.26.1" targetFramework="monoandroid71" />
  <package id="AWS.SessionProvider" version="1.5.26.3" targetFramework="monoandroid71" />
  <package id="AWSSDK" version="1.5.26.3" targetFramework="monoandroid71" />
  <package id="AWSSDK.Core" version="3.3.17.4" targetFramework="monoandroid71" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="monoandroid71" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid71" />
  <package id="Validation" version="2.0.6.15003" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.0" targetFramework="monoandroid71" />
</packages>